<div class="container about">
	<div class="row">
		<div id="wheel" class="span6">
    			<%= image_tag('avatar.jpg', :class => "about-avatar") %>
    			<a href="mailto:bassemreda@me.com"><%= image_tag('icons/mail.png', :class => "icon mail") %></a>
    			<a target="blank" href="https://github.com/bshakr/"><%= image_tag('icons/github.png', :class => "icon github") %></a>
    			<a target="blank" href="http://twitter.com/bshakr"><%= image_tag('icons/twitter.png', :class => "icon twitter") %></a>
    			<a target="blank" href="http://instagram.com/bassemshaker"><%= image_tag('icons/instagram.png', :class => "icon instagram") %>

		</div>
		<div class="span6">
			<h1>About Bassem</h1>
			<p>I'm a iOS and Rails <a href="http://github.com/bshakr/">developer</a>, and a self taught designer. I'm currently living in London, UK.</p>
			<p>I'm finishing my masters in Mobile Application Design in the school of Engineering and Digital Arts at the University of Kent.</p>
			<p>I started freelancing in the winter of 2010 and I love it.</p>
			<p>In January 2012 I joined Appommunity, a startup in New York that set out to build a social network to help people discover and share the different apps that they use on their mobile phones. I learned a ton on building a product. Six month later we ran out of money and shut it down.</p>
			<p>Last September I moved to the UK, and started my Masters.</p>
			<p>I'm currently building Nomad, a travel delay prediction engine.</p>
		</div>
	</div>
  <div class="row instarow">
    <% @instagram.each do |instagram| %>
    <%= image_tag instagram.images.standard_resolution.url, class: 'instapic' %>
    <% end %>
  </div>

</div>
