<% content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom")) %>
<div class="container header">
	<div class="row">
		<div class="span6 offset1 hero-box">
			<h1>Hi. I'm Bassem.</h1>
			<h3>I'm a freelance designer & developer. I make apps for iOS and the web. You can check out my work <%= link_to 'here', work_url %>. Find out more <%=link_to 'about me', about_url%>.</h3>
		</div>
	</div>
</div>
<div class="container blog">
<% @posts.each do |post| %>
	<%= render post%>
<% end %>
</div>