<div class="work-divider2"></div>
<div class="container work-actioncall">
	<div class="row">
		<div class="span3 offset2">
			<h1><a href="mailto:bshakr@gmail.com">hire me</a></h1>
		</div>
		<div class="span4 offset2 ">
			<h1><%= link_to "more projects", work_url %></h1>
		</div>
	</div>
</div>