<div class="container">
	<section class="row">
		<%= image_tag('appommunity-hero.jpg', :class => "appommunity-hero") %>
		<div class="span5 nooun-hero-title">
			<h1 class="align-right large">Appommunity</h1>
			<h2 class="align-right">A social network for discovering great apps</h2>
			<h3 class="align-right"></h3>
		</div>
	</section>
</div>
<div class="work-divider1"></div>
<section class=" appommunity-section2">
	<div class="container">
		<div class="row">
			<%= image_tag('appommunity-review.jpg', :class => "appommunity-review") %>

			<div class="offset7 span4 expo-section2-text">
				<h2>Beautiful UI</h2>
				<h3>We went through dozens of design iterations to get the user interface just right.</h3>
			</div>
		</div>
	</div>
</section>
<div class="work-divider2"></div>
<section class=" container appommunity-section3">


	<div class="row ">

		<div class="span8 offset2">
			<h3 class="center">This project has been discontinued	.</h3>	
		</div>

	</div>


</section>

<%= render "actioncall" %>