<div class="container">
	<section class="row">
		<%= image_tag('egyptolution-hero.jpg', :class => "egyptolution-hero") %>
		<div class="span5 nooun-hero-title">
			<h1 class="align-right large">Egyptolution</h1>
			<h2 class="align-right">Online Travel Magazine</h2>
			<h3 class="align-right"><a href="http://egyptolution.com/" target="_blank">egyptolution.com</a></h3>
		</div>
	</section>
</div>
<div class="work-divider1"></div>
<section class=" expo-section2">
	<div class="container">
		<div class="row">
			<%= image_tag('egyptolution-authors.jpg', :class => "responsive-expo") %>

			<div class="offset7 span4 expo-section2-text">
				<h2>Multi-author CMS</h2>
				<h3>Built from the grounds up for egyptolution, the site is powered by a multi-author content management system.</h3>
			</div>
		</div>
	</div>
</section>
<div class="work-divider2"></div>
<%= render "actioncall" %>