<div class="container">
	<section class="row">
		<h1 class="span5 humongous">Portfolio</h1>
	</section>
	<section class="row work-featured">
	<div class="span12">
		<%= link_to image_tag('sva-featured.jpg', :class => "sva-featured"), :action => 'stourvalley' %>
	</div>
	</section>
	<section class="row work-featured">
	<div class="span12">
		<%= link_to image_tag('solace-featured.jpg', :class => "solace-featured"), :action => 'solace' %>
	</div>
	</section>
	<section class="row work-featured">
	<div class="span12">
		<%= link_to image_tag('weathereye-featured.jpg', :class => "weathereye-featured"), 'http://weathereye.co' %>
	</div>
	</section>

	<section class="row work-projects-row">
		<div class="span4">
			<%= link_to image_tag('nooun-preview-medium.jpg', :class => "work-preview-medium"), :action => 'nooun' %>
			<h4>Nooun</h4>
		</div>
		<div class="span4">
			<%= link_to image_tag('nyexpo-preview-medium.jpg', :class => "work-preview-medium") , :action => 'nyexpo' %>
			<h4>NY Business Expo</h4>
		</div>
		<div class="span4">
			<%= link_to image_tag('lawfirm-preview-medium.jpg', :class => "work-preview-medium") , :action => 'lawfirm' %>
			<h4>Emad Lawfirm</h4>
		</div>

	</section>

	<section class="row work-projects-row">
		<div class="span4">
			<%= link_to image_tag('egyptolution-preview-medium.jpg', :class => "work-preview-medium"), :action => 'egyptolution' %>
			<h4>Egyptolution</h4>
		</div>
		<div class="span4">
			<%= link_to image_tag('appommunity-preview-medium.jpg', :class => "work-preview-medium") , :action => 'appommunity' %>
			<h4>Appommunity</h4>
		</div>
		<div class="span4">
			<%= link_to image_tag('tia-preview-medium.jpg', :class => "work-preview-medium") , :action => 'tia' %>
			<h4>Tia Kharrat Architecture</h4>
		</div>

	</section>

</div>