<div class="container">
	<section class="row">
		<%= image_tag('lawfirm-hero.jpg', :class => "expo-hero") %>
		<div class="span5 nooun-hero-title">
			<h1 class="align-right large">Emad Lawfirm</h1>
			<h2 class="align-right">Online home of Emad Helmy's Lawfirm</h2>
			<h3 class="align-right"><a target="_blank" href="http://emadlawfirm.com/">emadlawfirm.com</a></h3>

		</div>
	</section>
</div>
<div class="work-divider1"></div>
<section class=" expo-section2">
	<div class="container">
		<div class="row">
			<%= image_tag('lawfirm-typography.jpg', :class => "responsive-expo") %>

			<div class="offset7 span4 expo-section2-text">
				<h2>beautiful typography</h2>
				<h3>Typography is one of the most powerful design elements. It sets the tone to the message displayed.</h3>
			</div>
		</div>
	</div>
</section>
<%= render "actioncall" %>