<div class="container">
	<section class="row">
		<%= image_tag('nooun-hero.jpg', :class => "nooun-hero") %>
		<div class="span4 nooun-hero-title">
			<h1 class="align-right humongous">Nooun</h1>
			<h2 class="align-right">an online magazine for women</h2>
			<h3 class="align-right"><a href="http://nooun.net/" target="_blank">nooun.net</a></h3>

		</div>
	</section>
</div>
<div class="work-divider1"></div>
<section class=" nooun-section2">
	<div class="container">
		<div class="row">
			<%= image_tag('nooun-admin.png', :class => "nooun-admin") %>

			<div class="offset7 span5 nooun-section2-text">
				<h2>bespoke site management</h2>
				<h3>nooun features a custom made management interface to allow the writers and editors to publish, change and customise every aspect of the site.	</h3>
			</div>
		</div>
	</div>
</section>
<div class="work-divider2"></div>
<div class="container">
		<div class="row">
			<h2 class="center">beautiful design</h2>
			<h3 class="center">focused on content</h3>
			<%= image_tag('nooun-article-page.jpg', :class => "nooun-article") %>
		</div>
</div>
<%= render "actioncall" %>
