<div class="container">
	<section class="row">
		<%= image_tag('expo-hero.jpg', :class => "expo-hero") %>
		<div class="span4 nooun-hero-title">
			<h1 class="align-right humongous">NY Expo</h1>
			<h2 class="align-right">New York Business Expo 2012</h2>
		</div>
	</section>
</div>
<div class="work-divider1"></div>
<section class=" expo-section2">
	<div class="container">
		<div class="row">
			<%= image_tag('responsive-expo.jpg', :class => "responsive-expo") %>

			<div class="offset7 span4 expo-section2-text">
				<h2>responsive design</h2>
				<h3>NY Business Expo features a responsive design that adapts itself to the device's width.</h3>
			</div>
		</div>
	</div>
</section>
<div class="work-divider2"></div>
<div class="container">
		<div class="row">
		<h2 class="center">a customised administration</h2>
		<h3 class="center">tailored controls designed for flexbility</h3>
		<%= image_tag('expo-admin.jpg', :class => "expo-admin") %>
	</div>
</div>
<%= render "actioncall" %>