<div class="container">
	<section class="row">
		<%= image_tag('solace-iphone.png', :class => "solace-hero") %>
		<div class="span4 solace-hero-title">
			<h1 class="align-right humongous">solace</h1>
			<h2 class="align-right">iPhone app that unlocks your door.</h2>
			<h3 class="align-right"><a href="http://solacecontrols.com/" target="_blank">solacecontrols.com</a></h3>
		</div>
	</section>
</div>
<div class="work-divider1"></div>
<section class=" solace-section2">
	<div class="container">
		<div class="row">
			<%= image_tag('solace-web.png', :class => "solace-web") %>

			<div class="offset7 span5 solace-section2-text">
				<h2>iPhone development</h2>
				<h3>developing the iPhone app to control RFID doors.</h3>
				<h2>marketing site</h2>
				<h3>designed and developed to showcase the iphone app features.</h3>
			</div>
		</div>
	</div>
</section>
<%= render "actioncall" %>
