<div class="container">
	<section class="row">
		<%= image_tag('stour-valley-hero.png', :class => "stour-valley-hero") %>
		<div class="span4 solace-hero-title">
			<h1 class="align-right humongous">stour valley</h1>
			<h2 class="align-right">iPhone app that guides you through Kings Wood</h2>
			<h3 class="align-right"><a href="http://stourvalleyarts.org.uk/" target="_blank">stourvalleyarts.org.uk</a></h3>
		</div>
	</section>
</div>

<%= render "actioncall" %>
