<div class="container">
	<section class="row">
		<%= image_tag('tia-hero.jpg', :class => "tia-hero") %>
		<div class="span5 nooun-hero-title">
			<h1 class="align-right large">Tia Kharrat</h1>
			<h2 class="align-right">Architecture Portfolio</h2>
			<br/>
			<h3 class="align-right"><a href="http://tiakharrat.com/"  target="_blank">tiakharrat.com</a></h3> 
		</div>
	</section>
</div>
<%= render "actioncall" %>