<%= simple_form_for [:admin, @post], :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.error_notification %>
      <%= f.input :title ,:input_html => { :class => "span8" }%>
			<%= f.input :published_at,:as => 'string', :input_html => { :value => @post.published_at, "data-date-format" => "yyyy-mm-dd", :class => "datepicker" }%>
      <%= f.input :content, :input_html => { :class => "span8 textarea-big" } %>

  <div class="form-actions">
    <%= f.button :submit,  :class => ' btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_posts_path, :class => 'btn' %>
  </div>
<% end %>
