<%- model_class = Post -%>
<div class="container">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> Management</h1> 
</div>
<div class="well">
<div class="row">
<div class="span6 ">
	<%= form_tag admin_posts_path, :method => 'get', :class => 'form-inline' do %>	
		<%= hidden_field_tag :direction, params[:direction] %>		
		<%= hidden_field_tag :sort, params[:sort] %>
		<div class="input-append">
	
			<%= text_field_tag :search %>
			<%= submit_tag "search", :class => "btn" %>
		</div>
	<% end %>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable model_class.human_attribute_name(:id),  "id"%></th>
      <th><%= sortable model_class.human_attribute_name(:title), "title" %></th>
      <th><%= sortable model_class.human_attribute_name(:created_at), "created_at" %></th>
      <th>Published</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%=l post.created_at , :format => :long%></td>
				<td>
					<% if post.published_at %>
						<%if post.published_at <= Time.now %>
							<span class="label label-inverse">Published</span>
						<%else %>
							<span class="label label-important"> Not Published</span>
						<%end%>
					<% end%>
				</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
						  									:default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
  <%= paginate @posts, :theme => 'twitter-bootstrap'%>

	<%= link_to t('.new', :default => t("helpers.links.new")),
	        new_admin_post_path,
	        :class => 'btn btn-primary' %>
</div><!--form-actions -->
</div><!-- well -->
</div><!-- container -->