<article class="row">
  <div class="span7 offset1">
	  <header>
	  	<h1><%= link_to post.title, post_path(post) %></h1>
	    <p class="time">Posted on <time datetime="<%= post.published_at.as_json %>"><%= post_published_time post %></time></p>
	  </header>
	
	  <%= post.render_html %>
  </div>
</article>
