#wheel{
	height:460px;
	position:relative;
	img.about-avatar{
		height: 150px;
		width: 150px;
		@include border-radius(75px);
		box-shadow:0px 0px 4px rgba(0,0,0,0.24),0px 0px 6px rgba(0,0,0,0.14);
		border:1px solid #eaeaea;
		margin-top:80px;
		position:absolute;
		top:105px;
		left:105px;
	}
	img.icon{
		height: 100px;
		width: 100px;
		@include border-radius(50px)
	}
	img.icon:hover{
		background:#b00e25;
	}
	
	img.twitter {
		position:absolute;
		top:280px;
		left:255px;
	}
	img.github{
		position:absolute;
		top:140px;
		left:255px;
	}
	img.instagram{
		position:absolute;
		top:70px;
		left:130px;
	}
	img.mail{
		position:absolute;
		left:130px;
		top:350px;
	}
}
.instarow{
	margin-left: -140px;
	margin-right: -140px;
}
.instapic{
	float:left;
	width:200px;
	height:200px;
}