a.current{
	color: #4b5461;
}
a.desc:after{	
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top:   4px solid #222;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
  content: "";
  position: relative;
  top:7px;
  left:7px;

}
a.asc:after{
	
	display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-bottom:   4px solid #222;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
  content: "";
  position: relative;
  top:7px;
  left:7px;
}
.textarea-big{
	height: 400px;
}
.gravatar{
	position:absolute;
	top:-4px;
	@include border-radius(40px);
	box-shadow:0px 0px 4px rgba(0,0,0,0.24),0px 0px 6px rgba(0,0,0,0.14);	
}