div.hero-box{
	margin-bottom:40px;
	border: 1px solid #e1e1e1;
	padding:40px;
	@include background-image(linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(250,247,244,0.7)));
	box-shadow: 0px 0px 1px rgba(0,0,0, 0.06);	
}