$alert-green: #d6e9c6;
$alert-error: #EED3D7;
$shadow:rgba(20,20,20,0.1);

@mixin inset-box-shadow($shadow1, $h1, $w1, $spread1, $shadow2, $h2, $w2, $spread2, $shadow3, $h3, $w3, $spread3){
	box-shadow: $shadow1 $h1 $w1 $spread1, $shadow2 $h2 $w2 $spread2 inset,$shadow3 $h3 $w3 $spread3 inset;
	-webkit-box-shadow: $shadow1 $h1 $w1 $spread1, $shadow2 $h2 $w2 $spread2 inset,$shadow3 $h3 $w3 $spread3 inset;
}

.alert{
	position: absolute;
	top: 8px;
	left: 0px;
	right: 0px;
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	border-radius:1px;
	z-index:1030;
	text-align: center;
	color:darken($alert-green, 60%);
	background-image: none;
	background-color: fade-out($alert-green, 0.5);
	@include border-radius(0px);
	@include inset-box-shadow($shadow, 0px, 1px, 3px,$shadow, 0px, -1px, 12px,rgba(255, 255, 255, 0.5), 0px, 1px, 0px);
	border-color:darken($alert-green, 30%);

}

.alert-error{
	color:darken($alert-error, 50%);
	background-color: fade-out($alert-error, 0.75);
	@include border-radius(0px);
	@include inset-box-shadow($shadow, 0px, 1px, 3px,$shadow, 0px, -1px, 12px,rgba(255, 255, 255, 0.5), 0px, 1px, 0px);
	border-color:darken($alert-error, 30%);

}