h1 > a{
	color: #111111;
	text-decoration: none;

}
h1 > a:hover{
	cursor: hand;
	text-decoration: none;
	color: #101010;
}

.blog article{
	margin-bottom: 50px;
}
p.time{
	color: #7e7d7d;
	font-size: 15px;
}

	