$red-color: #B00E25;
body{
	padding-top: 60px;
	background-color: #fbfbf9;
	font-family: "myriad-pro-1","myriad-pro-2", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 19px;
	line-height: 28px;
	color: #212121;
}
a{
	color: #e38938;
	&:hover{
		color: #e07c22;
	}
}
body > footer {
	text-align: center;
	margin: 3em auto;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar-fixed-top{
	border-top:solid 5px $red-color;
	.navbar-inner{
		border-top: solid 1px darken($red-color, 10%);
	}
}
.navbar-inner{
	min-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: none;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #e1e1e1;

}
.navbar .login-area {
	display: block;
	padding: 10px 20px 10px 10px;
	float: right;
	color: #666;
	font-weight: 300;
	a{
		color: $red-color;
	}
}

h1{
	font-family: "myriad-pro-1","myriad-pro-2", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: $red-color;
	letter-spacing: -0.05em;
	font-size: 40px;
	line-height: 58px;

}
h1.humongous{
	font-size: 70px;
	line-height: 90px;
}
h1.error{
	font-size: 280px;
	line-height: 380px;
	font-weight:300;
	color: #B00E25;
	letter-spacing: -0.02em;
}

h1.large{
	font-size: 73px;
	line-height: 130px;
	letter-spacing: -0.075em;

}

h2{
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 34px;
	letter-spacing: -0.05em;
	line-height: 42px;

}
h3{
	font-family: "myriad-pro-1","myriad-pro-2", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	line-height: 32px;
	
}
.align-right{
	text-align: right;
}
.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about{
	margin-top:50px;
}
.logout-link{
	position:relative;
	right:100px;
}