/////////////////////////////
///////////NOOOUN////////////
/////////////////////////////
.work-actioncall{
	margin-bottom: 130px;
	padding-top: 30px;
}
img.nooun-hero{
	width: 522px;
	height: 903px;
	position: relative;
	bottom: 44px;
	left:120px;
}
img.nooun-admin{
	width:475px;
	height: 536px;
}
.nooun-hero-title{
	position: relative;
	top:180px;
}
div.work-divider1{
	border-top: 1px solid #d4d4d4;
	position:relative;
	bottom: 44px;
	box-shadow: 0px -1px 8px rgba(0,0,0,0.2);
}
div.work-divider2{
	border-top: 1px solid #d4d4d4;
	box-shadow: 0px -1px 8px rgba(0,0,0,0.2);
	z-index: 10;
	position: relative;
}

section.nooun-section2{
	background-color: rgba(238,236,228,0.5);
	margin-top: -44px;
	height: 536px;
	padding-top: 20px;
}
.nooun-section2-text{
	position: relative;
	bottom: 350px;
}
/// WORK ///
.work-featured{
	margin-bottom: 40px;
	
}
.sva-featured{
	width: 960px;
	height: 248px;
	box-shadow:0px 0px 2px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.1);
}
.solace-featured{
	width: 960px;
	height: 248px;
	box-shadow:0px 0px 2px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.1);
}
.weathereye-featured{
	width: 960px;
	height: 248px;
	box-shadow:0px 0px 2px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.1);
}

.work-projects-row{
	margin-top: 40px;
}
.work-preview-small{
	width: 200px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.work-preview-medium{
	width: 300px;
	box-shadow:0px 0px 2px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.1);
}
/// SOLACE ///
.solace-hero-title{
	position: relative;
	top:130px;
}

.solace-hero{
	width: 402px;
	height: 546px;
	position: relative;
	bottom: 44px;
	left:120px;

}
.stour-valley-hero{
	width: 400px;
	height: 550px;
	position: relative;
	left:120px;

}

img.solace-web{
	width: 522px;
	height: 766px;
}
section.solace-section2{
	background-color: rgba(238,236,228,0.5);
	margin-top: -44px;
	height: 786px;
	padding-top: 20px;
	
}
.solace-section2-text{
	position: relative;
	bottom: 650px;
}

/// TIA ///

.tia-hero{
	width: 522px;
	height: 880px;
	position: relative;
	bottom: 44px;
	left:120px;

}
/// APPOMMUNITY ////
.appommunity-hero{
	width: 522px;
	height: 1002px;
	position: relative;
	bottom: 44px;
	left:40px;

}
.appommunity-review{
	width: 550px;
	height: 758px;
	position:relative;
	right:50px;
}
.appommunity-section2{
		background-color: rgba(238,236,228,0.5);
	margin-top: -44px;

	height: 760px;
	padding-top: 20px;

}
.appommunity-section3{
	padding-top: 100px;
	padding-bottom:100px;
}

/// EGYPTOLUTION ////
.egyptolution-hero{
	width: 522px;
	height: 820px;
	position: relative;
	bottom: 44px;
	left:40px;

}
.egyptolution-authors{
	width: 550px;
	height: 642px;
	position:relative;
	right:50px;
}

/// NY EXPO ////
.expo-hero{
	width: 522px;
	height: 903px;
	position: relative;
	bottom: 44px;
	left:120px;

}
.expo-section2{
	background-color: rgba(238,236,228,0.5);
	margin-top: -44px;

	height: 750px;
	padding-top: 20px;
	
}
.expo-section2-text{
	position: relative;
	bottom: 600px;
	left:10px;
}

.responsive-expo{
	width: 550px;
	height: 750px;
	position:relative;
	right:50px;
}
