<!DOCTYPE html>
<html>
<head>
  <title>Bassem Shaker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/rbx6ljz.js"></script><script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Bassem Shaker</a>
			<div class="login-area">
			<% if user_signed_in? %>
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "logout-link" %>
				<%= image_tag current_user.gravatar_url, :class => "gravatar" %>

			<% else %>
				<%= link_to "Login", new_user_session_path %>
			<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container">
<% flash.each do |name, msg| %>
	<div class="animated bounceInDown alert alert-<%= name == :notice ? "success" : "error" %>">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= msg %>
	</div>
<% end %>
</div>

<%= yield %>
</body>
</html>
