<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bassem Shaker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="application-name" content="Bassem Shaker">
  <meta name="author" content="Bassem Shaker">
  <meta name="description" content="The Portfolio and Blog of Bassem Shaker">
  <meta name="keywords" content="Bassem Shaker, Bassem, Shaker, Freelance, UK Freelancer, Designer, Developer">
  <meta name="robots" content="follow, all" />

  <link rel="canonical" href="http://bassemshaker.com/" />
  <link rel="me" href="http://twitter.com/bshakr" />

  <meta property="og:site_name" content="bassemshaker.com" />  
  <meta property="og:title" content="bassemshaker.com" />
  <meta property="og:description" content="The blog of Bassem Shaker" />  
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://bassemshaker.com/" />

  <script type="text/javascript" src="//use.typekit.net/rbx6ljz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= yield :head %>

</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to 'Bassem Shaker', root_url, :class => 'brand' %></a>
			<div class="nav-collapse pull-right">
				<ul class="nav">
					<li><%= link_to 'work', work_url %></li>
					<li><%= link_to 'blog', posts_url %></li>
					<li><%= link_to 'about', about_url %></li>
					
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
<% flash.each do |name, msg| %>
	<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= msg %>
	</div>
<% end %>
</div>

<%= yield %>
<%= render '/layouts/footer' %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39044717-1']);
  _gaq.push(['_setDomainName', 'bassemshaker.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></body>
</html>
